* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #111d4a;
  color: #fff;
  text-decoration: none;
}

body {
  width: 100%;
}

a:hover {
  color: #cc2936;
  text-decoration: underline;
}

#pricipal {
  text-align: center !important;
  background: url(lannisporto.jpg);
}

#cabecalho {
  width: 96%;
  text-align: center;
}

img {
  border-radius: 10px;
}

li > a {
  font-family: "MedievalSharp", cursive;
  font-size: 20px;
}

li {
  display: inline;
  font-size: 1.15rem;
  margin-left: 1.15rem;
}

#titulo {
  color: #cc2936;
  font-size: 3rem;
  margin: 0 auto;
  margin-top: 2rem;
  left: 50px;
  text-align: center;
  font-family: "MedievalSharp", cursive;
}

.subtitulo {
  color: #cc2936;
  display: block;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  font-family: "MedievalSharp", cursive;
}

.sobre {
  padding: 20px;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.img {
  width: 35%;
  display: block;
  margin: 0 auto;
}

footer {
  margin-top: 3rem;
  bottom: 0;
  width: 100%;
  padding: 10px 0 0 10px;
  text-align: center;
  border: 1px solid black;
}

figcaption p {
  text-align: center;
}
