* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

span:first-child {
  background-color: rgb(30, 210, 201);
}

.chocolate {
  background-color: chocolate;
}

li {
  display: inline;
}
