<!DOCTYPE html>
<html>
    <head>
        <title>Apolice</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Lista de Apolices</h2>
        <div th:unless="${#lists.isEmpty(apolices)}">
            <div th:each="apolice : ${apolices}">
                <fieldset>
                    <div>ID: <span th:text="${apolice.id}">ID</span></div>
                    <div>Descricao: <span th:text="${apolice.descricao}">ERRO</span></div>
                    <div>Inicio Vigencia <span th:text="${apolice.inicioVigencia}">ERRO</span></div>
                    <div>Fim Vigencia <span th:text="${apolice.finalVigencia}">ERRO</span></div>
                    <div><a th:href="${apolice.id}">[Apagar]</a></div>
                </fieldset>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(apolices)}">
            <p>Nenhuma Apolice Cadastrada</p>
        </div>
        <hr />
        <h3>Adicione uma nova apolice</h3>
        <form method="POST">
            <fieldset>
                <legend>Apolice:</legend>
                Descricao <input type="text" name="descricao" maxlength="100"><br><br>
                Inicio Vigencia <input type="text" name="inicioVigencia" maxlength="100"><br><br>
                Final Vigencia <input type="text" name="finalVigencia" maxlength="100"><br><br>
                <input type="submit" value="Salvar"/>
            </fieldset>
        </form>
    </body>
</html>
