#clock {
  text-align: center;
  color: #0f0;
  font-weight: bold;
  font-size: 2rem;
  width: 150px;
  background: #000;
  display: block;
  margin: auto auto;
}

#stop,
#continue {
  display: block;
  margin: 15px auto;
}
